<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "corner_links">
        <a href="/"> Homepage </a>
    </div>
    <h2 class = "admin_panel">
    {{ first_name }}'s Admin panel
    </h2>
    <br> <br>
    {% with message = get_flashed_messages() %}
    {% if message %}
        <h2 class ="error"> {{ message }} </h2> 
    {% endif %}
    {% endwith %}
    {% with events = events %}
    <h2 class="admin_panel"> Events </h2>
    {% if events %}
    <table>
        <tr>
            <th>Event Type</th>
            <th>Address</th>
            <th>Event Date</th>
            <th>Time</th>

        </tr>
    {% for event in events %}
        <div>
            <tr>    
                <td> {{ event.host }} </td>
                <td> {{ event.event_name }}</td>
                <td> {{ event.address }} </td>
                <td> {{ event.event_date }} </td>
                <td>
                    <form action="{{ url_for('main.delete_event_by_id', id=event.id) }}" method="POST">
                        <button type="submit" class="delete_button">X</button>
                    </form>      
                 </td>      
            </tr>
        </div>
    {% endfor %}
    </table>
            {% endif %}
    {% endwith %}
    <br> <br> <br> <br>

    <a class='button3', href='/new_event'> Add Event </a>

</body>

