<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {%with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li> {{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class = "corner_links">
            <a href="/"> Homepage </a>
        </div>
        <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <form action="/admin_login" method="post"> 
        <label for="username" value = "{{input_username if input_username else ''}}"> Admin Key </label> <br>
        <input type="text" id="username" name="username"> <br> <br>
        <label for="password"> Password </label> <br>
        <input type="password" id="password" name="password"> <br> <br> <br>
        <input class = "button3" type="submit" value="">
    </form>
    {% endwith %}
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</body>

