<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% with message = get_flashed_messages() %}
    {% if message %}
        <h2> {{ message }} </h2> 
    {% endif %}
    {% endwith %}
    {% with events = events %}
    {% if events %}
    <table class="event_table">
        <tr class="event_table">
            <th class="table_header">Event Type</th>
            <th class="table_header">Address</th>
            <th class="table_header">Event Date</th>
            <th class="table_header">Time</th>

        </tr>
        {% for event in events %}
        <tr class="event_table">
            <td class="event_table"> {{ event.event_type }} </td>
            <td class="event_table"> {{ event.address }} </td>
            <td class="event_table"> {{ event.event_date }} </td>
            <td class="event_table"> {{ event.time }} </td>
            <td class="event_table" style="width:45px; text-align:center"> 
            <form action="{{ url_for('main.delete_event_by_id', id=event.id) }}" method="POST">
                <button type="submit" class="delete_button">X</button>
            </form>                
            </td>
        </tr>
        {% endfor %}
    </table>
    
        {% else %}
            <h2> No events to delete! </h2>
            {% endif %}
    {% endwith %}
</body>

