<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
</head>
<body style="background-color: #f9f9f9; font-family: 'Love Ya Like A Sister', sans-serif; color: rgb(20, 20, 1);">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li style="color: red;">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h1 style="text-align: center; color:blueviolet"> Fill Your application </h1>
    <form action="/host_form" method="POST">
        <div style="display: flex; justify-content: space-between; gap: 10px; font-size: x-large;">
            <div style="text-align: center; width: 30%; padding-right: 10px;">
                <label for="first_name">First Name</label><br>
                <input type="text" id="first_name" name="first_name" maxlength="20" 
                       value="{{ form_data.first_name if form_data else '' }}" required style="border-radius: 10px; font-size: x-large; width: 200px;"><br><br>
                <label for="last_name">Last Name</label><br>
                <input type="text" id="last_name" name="last_name" maxlength="30" 
                       value="{{ form_data.last_name if form_data else '' }}" required style="border-radius: 10px; font-size: x-large; width: 200px;"><br><br>
                <label for="phone_number">Phone Number</label><br>
                <input type="tel" id="phone_number" name="phone_number" maxlength="50" 
                       value="{{ form_data.phone_number if form_data else '' }}" required style="border-radius: 10px; font-size: x-large; width: 200px;"><br>
            </div>
            <div style="display: flex; text-align: center; flex-direction: column; width: 40%; margin: auto;">
                <label for="event_type"> What's your event?</label><br>
                <select style="width: 120px; height: 30px;" id="event_type" name="event_type" required>
                    <option value="ramen night" {% if form_data and form_data.event_type == "ramen night" %}selected{% endif %}>Ramen Night</option>
                    <option value="dinner party" {% if form_data and form_data.event_type == "dinner party" %}selected{% endif %}>Dinner Party</option>
                    <option value="wine tasting" {% if form_data and form_data.event_type == "wine tasting" %}selected{% endif %}>Wine Tasting</option>
                    <option value="vegan fest" {% if form_data and form_data.event_type == "vegan fest" %}selected{% endif %}>Vegan Fest</option>
                    <option value="supper club" {% if form_data and form_data.event_type == "supper club" %}selected{% endif %}>Supper Club</option>
                    <option value="garage sale" {% if form_data and form_data.event_type == "garage sale" %}selected{% endif %}>Garage Sale</option>
                    <option value="art exhibition" {% if form_data and form_data.event_type == "art exhibition" %}selected{% endif %}>Art Exhibition</option>
                    <option value="none of the above" {% if form_data and form_data.event_type == "none of the above" %}selected{% endif %}>None of the Above</option>
                </select>
                <label for="description">Describe your event</label>
                <textarea id="description" name="description" maxlength="100" required 
                          style="width: 100%; height: 100px; border-radius: 10px;">{{ form_data.description if form_data else '' }}</textarea>
                <br><br>
                <label for="vegan_friendly">
                    Vegan Friendly?
                    <input type="checkbox" id="vegan_friendly" name="vegan_friendly" value="1" 
                           {% if form_data and form_data.get('vegan_friendly') %}checked{% endif %}>
                </label>
            </div>
            <div style="text-align: center; width: 30%; padding-left: 10px;">
                <label for="address">Where?</label><br>
                <input type="text" id="address" name="address" maxlength="100" 
                       value="{{ form_data.address if form_data else '' }}" required style="border-radius: 10px; font-size: x-large; width: 200px;"><br><br>
                <label for="event_date">When?</label><br>
                <input type="date" id="event_date" name="event_date" 
                       value="{{ form_data.event_date if form_data else '' }}" required style="border-radius: 10px; font-size: x-large; width: 200px;"><br><br>
                <label for="time"> What time?</label><br>
                <input type="time" id="time" name="time" 
                       value="{{ form_data.time if form_data else '' }}" required style="border-radius: 10px; font-size: x-large; width: 200px;"><br><br>
                <label for="price_range"> How much should a customer expect to pay? </label><br>
                <input type="text" id="price_range" name="price_range" maxlength="30" 
                       value="{{ form_data.price_range if form_data else '' }}" required style="border-radius: 10px; font-size: x-large; width: 200px;"><br><br>
            </div>
        </div>
        <button type="submit" style="margin: 20px auto; width:100px; Color: blueviolet; font-family: 'Love Ya Like A Sister'; height:70px; border-radius: 10px; display: block;"> Submit here </button>
    </form>
</body>
