<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h3 class = "corner_link1">
        <a href="/admin_login"> Admin </a> 
    </h3>
    <h3 class = "corner_link2">
        <a href="/login"> Host </a>
    </h3>
    <h1>
        Welcome to Underground TLV  
    </h1>
    <br> <br> <br> <br> <br>
    <div style="text-align: center;">
        <a href="/pop_list">
            <button class="ramen_button"></button>
        </a>                        
    </div>
</body>
<footer>
    <p> @ ben_ashamen </p>
</footer>

