<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
</head>
<body style="background-color:rgb(188, 255, 249); font-family: 'Love Ya Like A Sister', sans-serif; color: yellow;">
    <h1 style="color:blueviolet; font-size:42px; text-align: center;">
        Check out next week's pop-ups  
    </h1>
    <br> <br> <br> <br> <br>
    <div style="text-align: center;">
        <a href="/pop_list" style="text-decoration: none;">
            <button style=" width: 200px; height: 200px; font-family: 'Love Ya Like A Sister', sans-serif; font-size: 19px; background-color: #f7b8dd; color: white; border: none; border-radius: 143px; cursor: pointer; background-image: url('static/images/ramen.jpg'); background-size: cover; background-position: center;">
            </button>
        </a>                        
         <br> <br> <br> <br> <br>
    <a style="color:blueviolet; font-size: x-large;" href="/host_form">Hosting a pop-up? sign up here!</a>
    </div>
</body>

