<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% with first_name = first_name %}
    {% if first_name %}
        <h1>
            Welcome back,
            {{ first_name }} !
        </h1>
    {% else %}
        <h1>
            Welcome to the Host Platform !
        </h1>
    {% endif %}
    {% endwith %}
    <br> <br> <br>      
    <div class="button_container">
        <a href="/my_events">
            <button class = "button3" style= "width: 150; height : 60px" > My events </button>
        </a>
        <a href="/new_event">
            <button class = "button3" style= "width: 150; height : 60px" > New event </button>
        </a>
    </div>
    <div class = "corner_links">
        <a href="/"> Homepage </a>
    </div>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</body>


