<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "corner_links">
        <a href="/"> Homepage </a>
    </div>
    <br> 
    {% with first_name = first_name %}
    {% if first_name %}
        <h1 class = "title">
            Welcome back
            {{ first_name }} !
        </h1>
    {% else %}
        <h1 class="title">
            Welcome to the Host Platform !
        </h1>
    {% endif %}
    {% endwith %}
    <br> <br> <br>  <br> <br> <br>
    <div class="button_container">
        <a href="/my_events">
            <button class = "button3" style= "width: 200; height : 80px; font-size:large" > My events </button>
        </a>
        <a href="/new_event">
            <button class = "button3" style= "width: 200; height : 80px; font-size:large" > New event </button>
        </a>
    </div>
</body>


