<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body> 
    <br> <br> <br>  
    <h2> Login </h2>
    <form method="POST">
    {% with input_email = input_email %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li class = "error" > {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
    <label for="email"> Email </label><br>
    <input type="email" placeholder="example@example.com" value="{{ input_email if input_email else '' }}" 
    id="email" name="email" required><br><br>
    <label for="password"> Password </label><br>
    <input type="password" id="password" name="password" required>
    <br><br>
    <button class="button3" type="submit" value="Submit"> Login </button>
    {% endwith %}
    {% endwith %}
    </form>
    <br> 
    <h2> Sign up </h2>
    <a class="to_login" href="/sign_up">
         <button class = "button3"> New Host </button>
    </a>

    <h3 class = "corner_link">
        <a href="/"> Homepage </a>
    </h3>
</body>
