<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>   
    <br><br><br>
    <div class = "corner_links">
        <a href="/"> Homepage </a>
    </div>
    <form method="POST">
    {% with input_email = input_email %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li class = "error" > {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
    <label for="email"> Email </label>
    <input type="email" placeholder="example@example.com" value="{{ input_email if input_email else '' }}" 
    id="email" name="email" required><br><br>
    <label for="password"> Password </label>
    <input type="password" id="password" name="password" required>
    <br><br>
    <button class="button3" type="submit" value="Submit">  </button>
    {% endwith %}
    {% endwith %}
    </form>
    <br> 
    <h2> Not a registered host? sign up now </h2>
    <a class="to_login" href="/sign_up">
         <button class = "button3"> </button>
    </a>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"> </script>
</body>

