<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% with my_events = my_events %}
        {% if my_events %}
            <table class="event_table">
                {% for event in my_events %}
                    <tr class="event_table"> {{event.event_type}} - {{event.event_date}} </tr>
                {% endfor %}
            </ul>
        {% else %}
            <h1> No upcoming events </h1>
        {% endif %}
        {% endwith %}
</body>