<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% with message = get_flashed_messages() %}
    {% if message %}
        <h2> {{ message }} </h2> 
    {% endif %}
    {% endwith %}
    <br> <br> <br> <br>
        {% if my_events %}
            <table>
                <tr>
                    <th>Event Type</th>
                    <th>Event Date</th>
                    <th>Delete</th>
                </tr>
                {% for event in my_events %}
                    <tr class = "table_row"> 
                    <td> {{event.event_type}} </td>
                    <td> {{event.event_date}} </td>
                    <td > 
                        <form action="{{ url_for('main.delete_my_event_by_id', id=event.id) }}" method="POST">
                            <button type="submit" class="delete_button">X</button>
                        </form>                
                    </td>
                    </tr>
                {% endfor %}
            </table>
            <div class = "corner_links">
                <a href="/host_page"> Back </a>
            </div>
        {% else %}
            <h1> No upcoming events </h1>
        {% endif %}
        <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</body>

