<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css">
</head>
<body>
    <div class = "corner_links">
        <a href="/"> Homepage </a>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="error">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h1 class="title"> Event Application </h1>
    <form method="POST" action="/new_event" >
        <div class="container_newevent">
            <div class="item1">
                <label for="host" class="form_field"> Host </label>
                <input class ="text" type="text" id="host" name="host" maxlength="20" 
                       value="{{ form_data.host if form_data else '' }}" required >
            </div>
            <br>
            <div class="item2">
                <label for="event_name" class="form_field"> Event Name </label>
                <input class ="text" type="text" id="event_name" name="event_name" maxlength="30" 
                       value="{{ form_data.event_name if form_data else '' }}" required >
            </div>
                <label for="event_type" class="form_field"> What's the event? </label>
                <select class="event_type" name="event_type" required>
                    <option value="ramen night" {% if form_data and form_data.event_type == "ramen night" %}selected{% endif %}>Ramen Night</option>
                    <option value="dinner party" {% if form_data and form_data.event_type =="dinner party" %}selected{% endif %}>Dinner Party</option>
                    <option value="wine tasting" {% if form_data and form_data.event_type == "wine tasting" %}selected{% endif %}>Wine Tasting</option>
                    <option value="vegan fest" {% if form_data and form_data.event_type == "vegan fest" %}selected{% endif %}>Vegan Fest</option>
                    <option value="supper club" {% if form_data and form_data.event_type == "supper club" %}selected{% endif %}>Supper Club</option>
                    <option value="oysters" {% if form_data and form_data.event_type == "oysters" %}selected{% endif %}>Oysters</option>
                    <option value="food festival" {% if form_data and form_data.event_type == "food festival" %}selected{% endif %}>Food Festival</option>  
                    <option value = "cocktail party" {% if form_data and form_data.event_type == "cocktail party" %}selected{% endif %}>Cocktail Party</option>
                </select>
            <div class="item2">
                <label for="description" class="form_field"> Event Description </label>
                <textarea id="description" name="description" maxlength="100" required 
                          style="width: 100%; height: 100px; border-radius: 10px;">{{ form_data.description if form_data else '' }}</textarea>
            </div>
            <div class = "item3">
                <label for="address" class="form_field"> Location </label>
                <input class ="event_input" type="text" id="address" name="address" maxlength="100" 
                       value="{{ form_data.address if form_data else '' }}" required >
            </div>
                <div class = "item4">
                <div class="date_time">
                    <label for="event_date" class="form_field"> Date </label>
                    <input class ="event_input" type="date" id="event_date" name="event_date" 
                        value="{{ form_data.event_date if form_data else '' }}" required >
                </div>
                </div>
                <div class="item5">
                <div class="date_time">
                    <label for="time" class="form_field"> Time </label>
                    <input class ="event_input" type="time" id="time" name="time" 
                        value="{{ form_data.time if form_data else '' }}" required>
                </div>
                </div>
                <div class = "item6">
                <label for="price_range" class="form_field"> Price Range </label>
                <input class ="event_input" type="text" id="price_range" name="price_range" placeholder="Min Price - Max Price" maxlength="30" 
                       value="{{ form_data.price_range if form_data else '' }}" required >
                </div>
                <div class = "item7">
                    <label for="phone" class="form_field"> Phone Number </label>
                    <input class ="event_input" type="text" id="phone" name="phone" placeholder="05" maxlength="10" 
                           value="{{ form_data.phone if form_data else '' }}" required >
                </div>
                </div>
            </div>
        </div>
        <br><br>
        <a href="/admin_page">
        <button type="submit" class="button3" value="Submit"> Submit </button>
        </a>
    </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr("input[type=date]", {
        altInput: true,
        altFormat: "F j, Y",
        dateFormat: "Y-m-d",
    });

