<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% with event_count = event_count - 1 %}
    <div class = "corner_links">
    <a href="/"> Homepage </a>
    </div>
   <h1 class="title"> This week's pop ups </h1> 
   {% endwith %}
   <div class="pop_list_container">
   <h3> What do you feel like? </h3>
   <br> <br>
   <div class="button_container">
        <a href="/food_list">
            <button class="food_button"></button>
        </a>
        <a href="/drink_list">
            <button class="drink_button"></button>
        </a>
        <a href="/art_list">
            <button class="art_button"></button>
        </a>
   </div>
   <br> <br> <br>
   <h5 style="color:darkgray"> over {{ event_count }} pop-ups for you to check out this week! </h5> 
   </div>
</body>



