<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% with pop_list = pop_list %}
        {% if pop_list %}
            <table class="event_table">
                {% for pop in pop_list %}
                    <tr class="event_table"> {{pop.event_type}} - {{pop.event_date}} </tr>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    <div class = "corner_links">
    <a href="/"> Homepage </a>
    </div>
   <h1 class="title"> This week's pop ups </h1> 
   <h2 style="margin-top: -15px; color:darkgrey"> What do you feel like? </h2>

   <div class="button_container">
        <a href="/food_list">
            <button class="food_button"></button>
        </a>
        <a href="/drink_list">
            <button class="drink_button"></button>
        </a>
        <a href="/art_list">
            <button class="art_button"></button>
        </a>
   </div>
   <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</body>



