<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="corner_links">
        <a href="/"> Homepage </a>
    </div>
    <br>
    {% with num_hosts = num_hosts - 1 %}
    {% if num_hosts %}
        <h1> Join over {{ num_hosts }} hosts in our community </h1>
    {% else %}
        <h1 class="title"> Join our community today!</h1>
    {% endif %}
    {% endwith %}
    <br>
    <form method="POST" class="sign_up_form">
        <div class="container_signup">
            <div class="item">
                {% if errors.get('First Name') %}
                <ul>
                    {% for error in errors['First Name'] %}
                    <li class="error"> {{ error }} </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <label for="first_name" class="form_field">First Name</label>
                <input type="text" id="first_name" name="first_name" value="{{ form_data.first_name if form_data else '' }}" maxlength="20" required>
            </div>
            <div class="item">
                {% if errors.get('Last Name') %}
                <ul>
                    {% for error in errors['Last Name'] %}
                    <li class="error"> {{ error }} </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <label for="last_name" class="form_field">Last Name</label>
                <input type="text" id="last_name" name="last_name" value="{{ form_data.last_name if form_data else '' }}" maxlength="30" required>
            </div>
            <div class="item">
                {% if errors.get('Phone') %}
                <ul>
                    {% for error in errors['Phone'] %}
                    <li class="error"> {{ error }} </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <label for="phone" class="form_field">Phone</label>
                <input type="text" id="phone" name="phone" maxlength="11" value="{{ form_data.phone if form_data else '' }}" required>
            </div>
            <div class="item">
                {% if errors.get('Email') %}
                <ul>
                    {% for error in errors['Email'] %}
                    <li class="error"> {{ error }} </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <label for="email" class="form_field">Email</label>
                <input type="email" placeholder="example@example.com" id="email" name="email" maxlength="50" value="{{ form_data.email if form_data else '' }}" required>
            </div>
            <div class="item">
                {% if errors.get('Password') %}
                <ul>
                    {% for error in errors['Password'] %}
                    {% if error != "Passwords don't match" %}
                    <li class="error"> {{ error }} </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
                <label for="password1" class="form_field">Password</label>
                <button type="button" id="toggle_password"> </button>
                <input type="password" id="password1" name="password1" maxlength="30" required>
            </div>
            <div class="item">
                <label for="password2" class="form_field">Confirm Password</label>
                <input type="password" id="password2" name="password2" maxlength="30" required>
            </div>
        </div>
        {% if "Passwords don't match" in errors["Password"] %}
        <li class="error"> Passwords don't match! </li>
        {% endif %}
        </div>
        <div class="single_button_container">
            <button class="button3" type="submit" value="Submit"> Send </button>
        </div>
    </form>
    <script src="{{ url_for('static', filename='scripts/password.js') }}"> </script>
</body>
